{% extends "layout.html" %}
{% block content %}
	<br>
	<center>
	<form action="/submit" id="textform" method="post">

		</div>
	    <textarea name="content" rows="3" cols="66" placeholder="Add message"></textarea>
	    <br>
		<input type="text" name="author" placeholder="Your name" class="col-sm-2">
	    <input type="submit" value="Post" >
	</form>
	</center>
	<br>
	<center>
	<a href="{{node_address}}/mine" target="_blank"><button type="button" class="btn btn-dark btn-sm col-sm-2">Request to mine</button></a>
	<a href="/"><button type="button" class="btn btn-dark btn-sm col-sm-2">Resync</button></a>
	</center>
	<div style="margin: 20px;">

    {% for post in posts %}
	<center>
	<div class="col-sm-6 content-center">
		<div class="card text-center">
			  <div class="card-header">
				Added by: <strong>{{post.author}}</strong>
			  </div>
			  <div class="card-body">
				<h4 class="card-text">{{ post.content }}</h4>
			  </div>
			  <div class="card-footer text-muted">
				 Posted at {{readable_time(post.timestamp)}}
			  </div>
			</div>
	</div>
		<br>
	{% endfor %}
	</center>
    </div>
{% endblock %}